@model PostListViewModel

@{
    ViewData["Title"] = "My Posts";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Posts == null)
{
    <div class="text-center">
        <h3>Nothing to display here</h3>
    </div>
}
else
{
    @foreach (var post in Model.Posts)
    {
        @await Html.PartialAsync("../Post/PostSummaryPartialView", post)
    }

}
