@model PostSummaryViewModel

<hr />
<div class="media">
    <img src="~/img/post.png" class="mr-3 image-avatar" />
    <div class="media-body">
        <a asp-action="Post" asp-controller="Post" asp-route-id="@Model.Id">
            <h5 class="mt-0">@Model.Title</h5>
        </a>
        @Model.ContentSummary
    </div>
</div>
<br />