@model HomeViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ForumUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <br/>

    <div class="list-group">
        @foreach (var post in Model.Posts)
        {
            @await Html.PartialAsync("../Post/PostSummaryPartialView", post)
        }
    </div>
    <br />
    <br />

    <form>
        @if (Model.CurrentPage == 0)
        {
            <button type="submit" asp-action="Index" asp-route-id="@(Model.CurrentPage-1)" class="btn btn-secondary" disabled style="width:96px">Previous</button>
        }
        else
        {
            <button type="submit" asp-action="Index" asp-route-id="@(Model.CurrentPage-1)" class="btn btn-secondary" style="width:96px">Previous</button>
        }

        @if (Model.CurrentPage != Model.MaxPage)
        {
            <button type="submit" asp-action="Index" asp-route-id="@(Model.CurrentPage+1)" class="btn btn-secondary" style="width:96px">Next</button>
        }
        else
        {
            <button asp-action="Index" asp-route-id="@(Model.CurrentPage+1)" class="btn btn-secondary" disabled style="width:96px">Next</button>
        }
    </form>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Hello stranger</h1>
        <h3>Login to get access to forum</h3>
    </div>
}

